@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Unit 501, 152 Sturt street<br />
    Southbank, Victoria 3006<br />
    <abbr title="Mobile">M:</abbr>
    +61404912290
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:anthonyleongkarkeong@gmail.com">anthonyleongkarkeong@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:anthonyleongkarkeong@gmail.com">anthonyleongkarkeong@gmail.com</a>
</address>