@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pet owner view</h1>
    <p class="lead">Below are the pet owner listing</p>
</div>

<div class="row" ng-controller="petOwnerCtrl as myPetOwner">
    <div class="col-md-12">
        <pet-owner></pet-owner>  
    </div>
</div>